/* --------------------All Pages--------------------------- */
body {
    background: url(../assets/dark-honeycomb.png);
    height: 100%;
    padding-bottom: 70px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar {
    border-bottom: 3px solid #cccccc;
    padding: 0px;
    background-color: #fff;
}

.nav-padding {
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    background-color: #4aaaa5;
    margin-left: 5%;
}

a.navbar-brand {
    color: #fff !important; 
}

#navbarNav {
    justify-content: flex-end;
    /* padding: 0 30px 0 0; */
    margin-right: 5%;

}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    color: #777777 !important;
}

.container {
    margin: 0 auto;
}

.container-content {
    padding: 40px;
    border-radius: 3px;
    background-color: #fff;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif, bold;
    font-size: 30px;
    color: #4aaaa5;
}

hr {
    border-width: 1px;
    border-style: solid;
    color: #cccccc;
    margin-bottom: 20px;
}
/* ---------------------- footer ------------------------- */
footer p {
    color: #fff;
    font-size: 14px;
    padding: 15px;
    margin: 0 auto;
}
.fixed-bottom {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin: 0 auto;
}
