/* --------------------All Pages--------------------------- */
body {
    background: url(../assets/dark-honeycomb.png);
    height: 100%;
    padding-bottom: 70px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar {
    border-bottom: 3px solid #cccccc;
    padding: 0px;
    background-color: #fff;
}

.nav-padding {
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    background-color: #4aaaa5;
    margin-left: 5%;
}

a.navbar-brand {
    color: #fff !important; 
}

#navbarNav {
    justify-content: flex-end;
    /* padding: 0 30px 0 0; */
    margin-right: 5%;

}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    color: #777777 !important;
}

.container {
    margin: 0 auto;
}

.container-content {
    padding: 40px;
    border-radius: 3px;
    background-color: #fff;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif, bold;
    font-size: 30px;
    color: #4aaaa5;
}

hr {
    border-width: 1px;
    border-style: solid;
    color: #cccccc;
    margin-bottom: 20px;
}
/* ---------------------- footer ------------------------- */
footer p {
    color: #fff;
    font-size: 14px;
    padding: 15px;
    margin: 0 auto;
}
.fixed-bottom {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin: 0 auto;
}


/* ---------------------------- Portfolio Page --------------------------- */

h3 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-color: #4aaaa5;
    padding: 10px;
}

h3:hover {
    background-color: #DD524A;
}

.project1 {
    background: url(../assets/balm_big.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

.project2 {
    background: url(../assets/album_zoomed.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

.project3 {
    background: url(../assets/character.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

.project4 {
    background: url(../assets/kubrick_cover_image.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

.project5 {
    background: url(../assets/tickets2_desktop.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

.project6 {
    background: url(../assets/zeen_full_cropped.jpg) center no-repeat;
    background-size: 250px 200px;
    height:200px;
    width: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px 20px;
}

/* --------------------------------- Contact Page ----------------------------------- */
form {
    width: 100%;
}
/* ------------------------- Media Queries ------------------------------- */

@media only screen and (max-width: 575px) {

.project1, .project2, .project3, .project4, .project5, .project6 {
    width: 100%;
    padding-top: 300px;
    background-size: auto;
    margin: 0 auto;
}

.grid-container {
    margin: 20px 10px;
}
}

@media only screen and (max-width: 768px) {
    .project1, .project2, .project3, .project4, .project5, .project6 {
        margin: 30px 0;
}
    .image-padding {
        padding-left: 0px;
    }

}